﻿@{
    ViewBag.Title = Resources.Dil.Anasayfa;
}

<div class="row">
    <div class="col-xs-6 col-md-4">
        <h3>@Resources.Dil.Hastanemiz</h3>
        <img src="~/Content/images/01.jpg" style="border-radius:3px" alt="hastane" class="img-responsive" />
        <span style="font-family:'Open Sans'">
            <b>Şifa Hastanesi - 1989 :</b>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices viverra est, vitae condimentum sapien lacinia ac. Nam at aliquet est. Nulla facilisi. Donec vitae iaculis mi. Etiam lobortis dolor nec enim fermentum varius. Proin viverra nunc nec semper aliquet. Cras sit amet massa eu nisi semper ultrices nec sit amet libero. Ut sed felis eu purus pellentesque tincidunt. In in justo sit amet mauris egestas vehicula. Nullam quis iaculis enim. Nam sed auctor sapien, nec finibus libero. Aliquam cursus ante id ex viverra efficitur. Cras lobortis lectus vel auctor tristique. Donec rhoncus risus justo. Praesent iaculis posuere ligula laoreet euismod.
        </span>
    </div>
    <div class="col-xs-6 col-md-4">
        <h3>@Resources.Dil.Haberler</h3>

        <img src="~/Content/images/Sld05.jpg" style="border-radius:4px" alt="hastane" class="img-responsive duzen" />
        <span style="font-family:'Open Sans'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices viverra est, vitae condimentum sapien.</span>

        <img src="~/Content/images/fizik tedavi anasayfa2.jpg" style="border-radius:4px" alt="hastane" class="img-responsive duzen" />
        <span style="font-family:'Open Sans'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices viverra est, vitae condimentum sapien.</span>
    </div>
    <div class="col-xs-6 col-md-4">
        <h3>@Resources.Dil.Gelismeler</h3>

        <img src="~/Content/images/Sld09.jpg" style="border-radius:4px" alt="hastane" class="img-responsive duzen" />
        <span style="font-family:'Open Sans'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices viverra est, vitae condimentum sapien.</span>

        <img src="~/Content/images/robotik cerrahi.jpg" style="border-radius:4px" alt="hastane" class="img-responsive duzen" />
        <span style="font-family:'Open Sans'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices viverra est, vitae condimentum sapien.</span>
    </div>
</div>



