﻿@model WebApplication3.Doktor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unvan.UnvanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unvan.UnvanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoktorAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoktorAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoktorSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoktorSoyad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DoktorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
