﻿@model IEnumerable<WebApplication3.Doktor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Resources.Dil.Olustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan.UnvanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoktorAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoktorSoyad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Birim.BirimAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan.UnvanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoktorAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoktorSoyad)
        </td>
        <td>
            @Html.ActionLink(Resources.Dil.Duzenle, "Edit", new { id=item.DoktorId }) |
            @Html.ActionLink(Resources.Dil.Detay, "Details", new { id=item.DoktorId }) |
            @Html.ActionLink(Resources.Dil.Sil, "Delete", new { id=item.DoktorId })
        </td>
    </tr>
}

</table>
