﻿@model WebApplication3.Hasta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hasta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HastaAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HastaAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HastaSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HastaSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HastaTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HastaTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HastaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
