﻿@model IEnumerable<WebApplication3.Hasta>

@{
    ViewBag.Title = Resources.Dil.Hasta;
}

<h3>@Resources.Dil.Hasta</h3>

<p>
    @Html.ActionLink(Resources.Dil.Olustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Birim.BirimAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastaAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastaSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastaTC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birim.BirimAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaTC)
            </td>
            <td>
                @Html.ActionLink(Resources.Dil.Duzenle, "Edit", new { id = item.HastaId }) |
                @Html.ActionLink(Resources.Dil.Detay, "Details", new { id = item.HastaId }) |
                @Html.ActionLink(Resources.Dil.Sil, "Delete", new { id = item.HastaId })
            </td>
        </tr>
    }

</table>
