﻿@charset "utf-8";
/* CSS Kodları */

body {
	margin: 0px;
	padding: 0px;
	background:#eee;
}

.banner{
	width: 100%;
	height: 120px;
	background: #f4743c;
}

.banner-binlik{
	width: 1000px;
	height: 120px;
	margin: 0px auto;	
}

.banner-sol{
	width: 500px;
	height: 120px;
	float: left;
}

.logo-duzen{
	margin-top: 10px;
}

.jumbo-duzen{
    width: 1100px;
	height: 150px;
    background: #E9E3E3;
    text-align:center;
    margin: 15px 20px;
    padding: 5px;
}

.banner-sag{
	width: 500px;
	height: 120px;
	float: right;
	text-align: right;
	line-height: 140px;
    padding-right: 35px;
}

.temizle{
	width: 100%;
	clear: both;
}

.sosyal-medya-icon{
	width: 30px;
	transition: 0.3s;
}

.sosyal-medya-icon:hover{
	width: 40px;
	cursor: pointer;
}

.menu{
	width: 100%;
	height: 45px;
	background: #d7602b;
}

.menu-icerik{
    float: left;
	width: 100px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-family: "Bell MT";
	font-size: 17px;
	letter-spacing: 1px;
	color: #EEACA6;
	transition: 0.2s;
}

.menu-sag {
    float: right;
    width: 100px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-family: "Bell MT";
	font-size: 17px;
	letter-spacing: 1px;
	color: #EEACA6;
	transition: 0.2s;
}

.menu-icerik:hover{
	color: #fff;
	cursor: pointer;
	background: #c15525;
    text-decoration: none;
}
.menu-sag:hover{
	color: #fff;
	cursor: pointer;
	background: #c15525;
}

.menu-binlik{
	width: 1000px;
	height: 45px;
	margin: 0px auto;
}

.alt-kisim{
	width: 100%;
	height: 200px;
	background: #09151D;
	font-family: "Bell MT";
}

.ust-alt-kisim{
	width: 100%;
	height: 50px;
	background: #050E15;
	line-height: 50px;
	font-size: 16px;
	color: #969696;
}


.ust-kisim-sol{
	float: left;
}

.ust-kisim-sag{
	float: right;
	text-align: right;
	padding-right: 15px;
}

.en-alt-menu{
	width: 100px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	letter-spacing: 1px;
	transition: 0.3s;
}

.en-alt-menu:hover{
	color: #fff;
	cursor: pointer;
	background: #933827;
}

.yukari-cik a{
	text-decoration: none;
	color: #969696;
}

.yukari-cik a:hover{
	color: #fff;
}

.alt-alt-kisim{
	text-align: center;
}

.en-alt-logo{
	margin-top: 12px;
}

