﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin-ext" rel="stylesheet" />

    <style>
        .duzen {
            margin-top: 2px;
            transition: 0.3s;
        }

            .duzen:hover {
                cursor: pointer;
                opacity: 0.8;
            }

        h3 {
            font-family: "Open Sans, sans serif";
            transition: 0.3s;
        }

            h3:hover {
                cursor: pointer;
                color: rgba(198, 143, 57, 0.99);
            }

        a {
            color: #f1d5c6;
            text-decoration: none;
            transition: 0.3s;
        }

            a:hover {
                color: #fff;
            }
    </style>

    <title>@ViewBag.Title - Şifa @Resources.Dil.Hastane</title>
</head>
<body>

    <div class="banner">

        <div class="banner-binlik">

            <div class="banner-sol">
                <a href="/Home/Index">
                    <img class="logo-duzen" src="~/Content/images/heart.png" alt="logo" width="100">
                </a>
            </div>
            <div class="banner-sag">
                <a href="#"><img src="~/Content/images/facebook.png" alt="facebook" class="sosyal-medya-icon"></a>
                <a href="#"><img src="~/Content/images/twitter.png" alt="twitter" class="sosyal-medya-icon"></a>
                <a href="#"><img src="~/Content/images/lastfm.png" alt="lastfm" class="sosyal-medya-icon"></a>
                <a href="#"><img src="~/Content/images/linkedin.png" alt="linkedin" class="sosyal-medya-icon"></a>

                @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                {
                    @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)
                }
                else
                {
                    @Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)
                }

                @*<a href="#"><img src="~/Content/images/Turkey-icon.png" alt="tr" class="sosyal-medya-icon"></a>
                    <a href="#"><img src="~/Content/images/United-kingdom-icon.png" alt="en" class="sosyal-medya-icon"></a>*@
            </div>
            <div class="temizle"></div>
        </div>
    </div>

    <div class="menu" style="margin-bottom: 5px">
        <div class="menu-binlik">
            <a href="/Home/Index" class="menu-icerik">@Resources.Dil.Anasayfa</a>
            <a href="/Doktor/Index" class="menu-icerik">@Resources.Dil.Hekim</a>
            <a href="/Home/Contact" class="menu-icerik">@Resources.Dil.İletisim</a>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <br />
    </div>

    <footer style="text-align:center">
        <img src="~/Content/images/man.png" alt="Alt-Logo" class="duzen"><hr />
        <p>&copy; @DateTime.Now.Year - Şifa @Resources.Dil.Hastane</p>
        <p>Made in <b class="text-danger">Turkey</b> Powered by &hearts; <b class="text-danger">Salih</b></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
