﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="#" class="menu-icerik">@Resources.Dil.Randevu</a>
    <a href="/Hasta/Index" class="menu-icerik">@Resources.Dil.Hasta</a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="font-family: Bell MT;font-size:17px;color:#fff">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Dil.Cikis</a></li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@

    <a href="/Account/Login" class="menu-sag">@Resources.Dil.Giris</a>
    <a href="/Account/Register" class="menu-sag">@Resources.Dil.Kayit</a>

}
